/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Helvetica.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 700px #190422;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #bc8afc;
  outline: 1px solid transparent;
}

.container {
  max-width: 1305px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  width: 100%;
}
.header .header__bg {
  background-color: #190422;
}
.header .header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 17px;
}
.header .header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 56px;
}
.header .header__nav-list .header__list-button {
  padding: 12px 26px 13px 25px;
  background-color: #bc8afc;
  border-radius: 7px;
  box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  border: 2px solid transparent;
  color: black;
}
.header .header__nav-list .header__list-button:hover {
  border: 2px solid #bc8afc;
  color: #bc8afc;
  background-color: transparent;
}
.header .header__nav-list .header__list-link {
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
  border-radius: 3px;
}
.header .header__nav-list .header__list-link:hover {
  transition: all 0.3s ease-in-out;
  color: #bc8afc;
}
.header .header__hamburger {
  display: none;
}
@media only screen and (max-width: 1100px) {
  .header .header {
    max-width: 1150px;
    width: 100%;
  }
  .header .header__wrapper {
    padding: 20px 25px;
  }
  .header .header__logo {
    width: 110px;
    height: 40px;
  }
  .header .header__nav-list {
    gap: 30px;
  }
  .header .header__nav-list .header__list-link {
    font-size: 16px;
  }
  .header .header__nav-list .header__list-button {
    font-size: 16px;
  }
}
@media only screen and (max-width: 800px) {
  .header .header__wrapper {
    max-width: 800px;
    width: 100%;
    padding: 20px 25px;
  }
  .header .header__logo {
    width: 110px;
    height: 40px;
  }
  .header .header__nav-list {
    display: none;
  }
  .header .header__hamburger {
    display: block;
  }
}
@media only screen and (max-width: 430px) {
  .header .header__wrapper {
    max-width: 430px;
    width: 100%;
    padding: 15px 20px;
  }
  .header .header__logo {
    width: 80px;
    height: 30px;
  }
  .header .header__nav-list {
    display: none;
  }
  .header .header__hamburger {
    display: block;
  }
}

.hero .hero__bg {
  background-color: #190422;
}
.hero .hero__wrapper {
  padding-top: 200px;
  padding-bottom: 262px;
  background-image: url(../../img/herobg.png);
  background-repeat: no-repeat;
  background-size: 550px 627px;
  background-position: right;
  padding-left: 40px;
}
.hero .hero__content-title {
  max-width: 631px;
  width: 100%;
  color: #fff;
  font-size: 80px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 32px;
}
.hero .hero__content-text {
  max-width: 608px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  line-height: 158%;
  margin-bottom: 44px;
}
.hero .hero__content-button__link {
  padding: 12px 26px 13px 25px;
  background-color: #bc8afc;
  border-radius: 7px;
  box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  border: 2px solid transparent;
  color: black;
}
.hero .hero__content-button__link:hover {
  border: 2px solid #bc8afc;
  color: #bc8afc;
  background-color: transparent;
}
@media only screen and (max-width: 1100px) {
  .hero .hero__wrapper {
    padding-top: 135px;
    padding-bottom: 300px;
    background-image: url(../../img/herobg.png);
    background-repeat: no-repeat;
    background-size: 526px 564px;
    background-position: right;
    padding-right: 60px;
    padding-left: 60px;
  }
  .hero .hero__content-title {
    max-width: 470px;
    width: 100%;
    font-size: 58px;
    margin-bottom: 32px;
  }
  .hero .hero__content-text {
    max-width: 470px;
    width: 100%;
    font-size: 20px;
    line-height: 158%;
    margin-bottom: 32px;
  }
  .hero .hero__content-button__link {
    max-width: 212px;
    width: 100%;
    padding: 12px 26px 13px 25px;
    background-color: #bc8afc;
    border-radius: 7px;
    box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    border: 2px solid transparent;
    color: black;
  }
  .hero .hero__content-button__link:hover {
    border: 2px solid #bc8afc;
    color: #bc8afc;
    background-color: transparent;
  }
}
@media only screen and (max-width: 850px) {
  .hero .hero__wrapper {
    padding-top: 135px;
    padding-bottom: 150px;
    background-image: url(../../img/herobg.png);
    background-repeat: no-repeat;
    background-size: 346px 404px;
    background-position: right;
    padding-right: 40px;
    padding-left: 40px;
  }
  .hero .hero__content-title {
    max-width: 370px;
    width: 100%;
    font-size: 48px;
    margin-bottom: 32px;
  }
  .hero .hero__content-text {
    max-width: 370px;
    width: 100%;
    font-size: 20px;
    line-height: 158%;
    margin-bottom: 32px;
  }
  .hero .hero__content-button__link {
    max-width: 212px;
    width: 100%;
    padding: 12px 26px 13px 25px;
    background-color: #bc8afc;
    border-radius: 7px;
    box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    border: 2px solid transparent;
    color: black;
  }
  .hero .hero__content-button__link:hover {
    border: 2px solid #bc8afc;
    color: #bc8afc;
    background-color: transparent;
  }
}
@media only screen and (max-width: 430px) {
  .hero .hero__wrapper {
    padding-top: 95px;
    padding-bottom: 556px;
    background-image: url(../../img/herobg.png);
    background-repeat: no-repeat;
    background-size: 326px 371px;
    background-position: 50px 440px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .hero .hero__content-title {
    align-items: center;
    font-size: 38px;
    margin-bottom: 24px;
  }
  .hero .hero__content-text {
    font-size: 16px;
    line-height: 158%;
    margin-bottom: 44px;
  }
  .hero .hero__content-button__link {
    padding: 12px 26px 13px 25px;
    background-color: #bc8afc;
    border-radius: 7px;
    box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    border: 2px solid transparent;
    color: black;
    font-size: 16px;
  }
  .hero .hero__content-button__link:hover {
    border: 2px solid #bc8afc;
    color: #bc8afc;
    background-color: transparent;
  }
}
@media only screen and (max-width: 390px) {
  .hero .hero__wrapper {
    padding-top: 95px;
    padding-bottom: 586px;
    background-image: url(../../img/herobg.png);
    background-repeat: no-repeat;
    background-size: 326px 371px;
    background-position: 40px 440px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .hero .hero__content-title {
    display: block;
    align-items: center;
    font-size: 35px;
    margin-bottom: 24px;
  }
  .hero .hero__content-text {
    font-size: 14px;
    line-height: 158%;
    margin-bottom: 44px;
    max-width: 312px;
    width: 100%;
  }
  .hero .hero__content-button__link {
    padding: 12px 26px 13px 25px;
    background-color: #bc8afc;
    border-radius: 7px;
    box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    border: 2px solid transparent;
    color: black;
    font-size: 14px;
  }
  .hero .hero__content-button__link:hover {
    border: 2px solid #bc8afc;
    color: #bc8afc;
    background-color: transparent;
  }
}

.finance .finance__wrapper {
  padding-top: 51px;
  padding-bottom: 52px;
}
.finance .finance__wrapper .finance__card {
  max-width: 1300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  margin-top: -70px;
}
.finance .finance__wrapper .finance__card-titles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 51px 0px;
}
.finance .finance__wrapper .finance__card-title {
  color: #1f262e;
  font-size: 48px;
  font-weight: 600;
}
.finance .finance__wrapper .finance__card-span {
  color: #bc8afc;
  font-size: 48px;
  font-weight: 600;
}
.finance .finance__wrapper .finance__card-texts {
  color: #1f262e;
  font-size: 20px;
}
.finance .finance__context-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 71px;
  gap: 23px;
}
.finance .finance__image {
  width: 493px;
  height: 639px;
}
.finance .finance__inner-title {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 122.5%;
  width: 611px;
  margin-bottom: 16px;
}
.finance .finance__inner-text {
  color: #000;
  font-size: 20px;
  line-height: 158%;
  width: 571px;
  margin-bottom: 26px;
}
.finance .finance__inner-link {
  padding: 12px 26px 13px 25px;
  background-color: #bc8afc;
  border-radius: 7px;
  box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  border: 2px solid transparent;
  color: black;
  box-shadow: none;
}
.finance .finance__inner-link:hover {
  border: 2px solid #bc8afc;
  color: #bc8afc;
  background-color: transparent;
}
@media only screen and (max-width: 1100px) {
  .finance .finance__wrapper .finance__card {
    max-width: 1050px;
    width: 100%;
    justify-content: center;
    gap: 100px;
  }
  .finance .finance__wrapper .finance__context-wrapper {
    gap: 13px;
  }
  .finance .finance__wrapper .finance__card-title {
    font-size: 32px;
  }
  .finance .finance__wrapper .finance__card-span {
    font-size: 32px;
  }
  .finance .finance__wrapper .finance__card-texts {
    font-size: 15px;
  }
  .finance .finance__wrapper .finance__card-titles {
    padding: 30px 20px;
  }
  .finance .finance__wrapper .finance__inner-title {
    max-width: 367px;
    font-size: 32px;
  }
  .finance .finance__wrapper .finance__inner-text {
    font-size: 15px;
    max-width: 367px;
  }
  .finance .finance__wrapper .finance__inner-link {
    font-size: 15px;
  }
  .finance .finance__wrapper .finance__inner-link {
    max-width: 102px;
    padding: 12px 26px 13px 25px;
    background-color: #bc8afc;
    border-radius: 7px;
    box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    border: 2px solid transparent;
    color: black;
    box-shadow: none;
    font-size: 15px;
  }
  .finance .finance__wrapper .finance__inner-link:hover {
    border: 2px solid #bc8afc;
    color: #bc8afc;
    background-color: transparent;
  }
  .finance .finance__wrapper .finance__image {
    width: 473px;
    height: 599px;
  }
}
@media only screen and (max-width: 830px) {
  .finance .finance__wrapper .finance__card {
    max-width: 850px;
    width: 100%;
    justify-content: center;
    gap: 100px;
  }
  .finance .finance__wrapper .finance__context-wrapper {
    gap: 13px;
  }
  .finance .finance__wrapper .finance__image {
    width: 393px;
    height: 539px;
  }
  .finance .finance__wrapper .finance__card-title {
    font-size: 32px;
  }
  .finance .finance__wrapper .finance__card-span {
    font-size: 32px;
  }
  .finance .finance__wrapper .finance__card-texts {
    font-size: 15px;
  }
  .finance .finance__wrapper .finance__card-titles {
    padding: 30px 20px;
  }
  .finance .finance__wrapper .finance__inner-title {
    max-width: 367px;
    font-size: 32px;
  }
  .finance .finance__wrapper .finance__inner-text {
    font-size: 15px;
    max-width: 367px;
  }
  .finance .finance__wrapper .finance__inner-link {
    font-size: 15px;
  }
  .finance .finance__wrapper .finance__inner-link {
    max-width: 102px;
    padding: 12px 26px 13px 25px;
    background-color: #bc8afc;
    border-radius: 7px;
    box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    border: 2px solid transparent;
    color: black;
    box-shadow: none;
    font-size: 15px;
  }
  .finance .finance__wrapper .finance__inner-link:hover {
    border: 2px solid #bc8afc;
    color: #bc8afc;
    background-color: transparent;
  }
}
@media only screen and (max-width: 430px) {
  .finance .finance__wrapper .finance__card {
    max-width: 430px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
  .finance .finance__wrapper .finance__card-titles {
    padding: 0;
  }
  .finance .finance__wrapper .finance__context-wrapper {
    flex-direction: column;
  }
  .finance .finance__wrapper .finance__image {
    width: 393px;
    height: 519px;
  }
  .finance .finance__wrapper .finance__card-title {
    font-size: 32px;
  }
  .finance .finance__wrapper .finance__card-span {
    font-size: 32px;
  }
  .finance .finance__wrapper .finance__card-texts {
    font-size: 16px;
  }
  .finance .finance__wrapper .finance__card-titles {
    padding: 30px 20px;
  }
  .finance .finance__wrapper .finance__inner-title {
    max-width: 367px;
    font-size: 34px;
  }
  .finance .finance__wrapper .finance__inner-text {
    font-size: 16px;
    max-width: 367px;
  }
  .finance .finance__wrapper .finance__inner-link {
    font-size: 15px;
  }
  .finance .finance__wrapper .finance__inner-link {
    max-width: 102px;
    padding: 12px 26px 13px 25px;
    background-color: #bc8afc;
    border-radius: 7px;
    box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    border: 2px solid transparent;
    color: black;
    box-shadow: none;
    font-size: 15px;
  }
  .finance .finance__wrapper .finance__inner-link:hover {
    border: 2px solid #bc8afc;
    color: #bc8afc;
    background-color: transparent;
  }
}
@media only screen and (max-width: 390px) {
  .finance .finance__wrapper .finance__card {
    max-width: 390px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
  .finance .finance__wrapper .finance__card-titles {
    padding: 0;
  }
  .finance .finance__wrapper .finance__context-wrapper {
    flex-direction: column;
  }
  .finance .finance__wrapper .finance__image {
    width: 363px;
    height: 479px;
    margin-bottom: 10px;
  }
  .finance .finance__wrapper .finance__card-title,
  .finance .finance__wrapper .finance__card-span {
    font-size: 32px;
  }
  .finance .finance__wrapper .finance__card-texts {
    font-size: 16px;
  }
  .finance .finance__wrapper .finance__card-titles {
    padding: 30px 20px;
  }
  .finance .finance__wrapper .finance__inner-title {
    max-width: 347px;
    font-size: 30px;
  }
  .finance .finance__wrapper .finance__inner-text {
    font-size: 16px;
    max-width: 347px;
  }
  .finance .finance__wrapper .finance__inner-link {
    font-size: 15px;
  }
  .finance .finance__wrapper .finance__inner-link {
    max-width: 102px;
    padding: 12px 26px 13px 25px;
    background-color: #bc8afc;
    border-radius: 7px;
    box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    border: 2px solid transparent;
    color: black;
    box-shadow: none;
    font-size: 15px;
  }
  .finance .finance__wrapper .finance__inner-link:hover {
    border: 2px solid #bc8afc;
    color: #bc8afc;
    background-color: transparent;
  }
}

.services .services__bg {
  background-color: rgba(102, 163, 219, 0.0509803922);
}
.services .services__main-wrapper {
  padding-top: 50px;
  padding-bottom: 200px;
}
.services .services__main-wrapper .services__title {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 158%;
  margin-bottom: 40px;
}
.services .services__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.services .services__inner-wrapper {
  max-width: 477px;
  width: 100%;
  margin-bottom: 60px;
}
.services .services__inner-wrapper .services__section-img {
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin-bottom: 30px;
}
.services .services__inner-title {
  color: #1f262e;
  font-size: 20px;
  font-weight: 600;
  line-height: 158%;
  margin-bottom: 12px;
}
.services .services__inner-text {
  color: #000;
  font-size: 20px;
  line-height: 158%;
}
@media only screen and (max-width: 1100px) {
  .services .services__main-wrapper .services__title {
    font-size: 44px;
  }
  .services .services__wrapper .services__inner-wrapper {
    max-width: 430px;
    width: 100%;
  }
  .services .services__wrapper .services__inner-title,
  .services .services__wrapper .services__inner-text {
    font-size: 18px;
  }
}
@media only screen and (max-width: 900px) {
  .services .services__main-wrapper .services__title {
    font-size: 42px;
  }
  .services .services__wrapper .services__inner-wrapper {
    max-width: 355px;
    width: 100%;
  }
  .services .services__wrapper .services__inner-title,
  .services .services__wrapper .services__inner-text {
    font-size: 18px;
  }
}
@media only screen and (max-width: 430px) {
  .services .services__main-wrapper {
    padding-bottom: 30px;
  }
  .services .services__main-wrapper .services__title {
    max-width: 355px;
    width: 100%;
    font-size: 30px;
  }
  .services .services__wrapper .services__inner-wrapper {
    max-width: 355px;
    width: 100%;
  }
  .services .services__wrapper .services__inner-title {
    font-size: 18px;
  }
  .services .services__wrapper .services__inner-text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 350px) {
  .services .services__main-wrapper .services__title {
    font-size: 38px;
  }
  .services .services__wrapper .services__inner-wrapper {
    max-width: 355px;
    width: 100%;
    margin-bottom: 20px;
  }
  .services .services__wrapper .services__inner-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .services .services__wrapper .services__inner-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.statistics .statistics__bg {
  background-color: #190422;
}
.statistics .statistics__main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statistics .statistics__title {
  margin-bottom: 42px;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  line-height: 130.5%;
}
.statistics .statistics__content-inner {
  display: flex;
  align-items: center;
  gap: 38px;
}
.statistics .statistics__playmarket {
  border: 2px solid transparent;
  transition: all 1s ease-in-out;
  width: 205px;
  height: 65px;
  border-radius: 20px;
}
.statistics .statistics__playmarket:hover {
  border: 2px solid #bc8afc;
  transition: all 1s ease-in-out;
}
.statistics .statistics__applestore {
  width: 204px;
  height: 60px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 1s ease-in-out;
}
.statistics .statistics__applestore:hover {
  border: 2px solid #bc8afc;
  transition: all 1s ease-in-out;
}
.statistics .statistics__image-div {
  margin-top: -180px;
}
.statistics .statistics__image {
  width: 410px;
  height: 600px;
}
@media only screen and (max-width: 1120px) {
  .statistics .statistics__main-wrapper .statistics__title {
    font-size: 42px;
  }
}
@media only screen and (max-width: 900px) {
  .statistics .statistics__main-wrapper .statistics__title {
    font-size: 38px;
  }
  .statistics .statistics__main-wrapper .statistics__image {
    width: 310px;
    height: 410px;
  }
  .statistics .statistics__main-wrapper .statistics__content-inner {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .statistics .statistics__main-wrapper .statistics__playmarket {
    width: 180px;
    height: 50px;
  }
  .statistics .statistics__main-wrapper .statistics__applestore {
    width: 188px;
    height: 50px;
  }
}
@media only screen and (max-width: 430px) {
  .statistics .statistics__main-wrapper {
    padding-top: 30px;
    flex-direction: column;
  }
  .statistics .statistics__main-wrapper .statistics__title {
    font-size: 28px;
    margin-bottom: 24px;
    margin-left: 10px;
  }
  .statistics .statistics__main-wrapper .statistics__playmarket {
    width: 171px;
    height: 54px;
  }
  .statistics .statistics__main-wrapper .statistics__applestore {
    width: 172px;
    height: 52px;
  }
  .statistics .statistics__main-wrapper .statistics__image-div {
    margin-top: 0;
    margin-top: 19px;
  }
}

.benefits .benefits__main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px 10px;
}
.benefits .benefits__image {
  width: 568px;
  height: 609px;
}
.benefits .benefits__content {
  display: flex;
  align-items: start;
  flex-direction: column;
  max-width: 520px;
  width: 100%;
  gap: 16px;
}
.benefits .benefits__title {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 130.5%;
}
.benefits .benefits__description {
  color: #000;
  font-size: 20px;
  line-height: 158%;
}
.benefits .benefits__list {
  list-style: none;
}
.benefits .benefits__list-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}
.benefits .benefits__list-text {
  color: #000;
  font-size: 20px;
  line-height: 158%;
}
.benefits .benefits__list-icon {
  width: 40px;
  height: 40px;
  transition: all 0.6s ease-in-out;
  border-radius: 50%;
}
.benefits .benefits__list-icon:hover {
  transition: all 0.6s ease-in-out;
  background-color: #190422;
  cursor: pointer;
}
@media only screen and (max-width: 1120px) {
  .benefits .benefits__main-wrapper .benefits__image {
    width: 468px;
    height: 509px;
  }
}
@media only screen and (max-width: 900px) {
  .benefits .benefits__main-wrapper .benefits__content {
    max-width: 320px;
    width: 100%;
  }
  .benefits .benefits__main-wrapper .benefits__image {
    width: 368px;
    height: 409px;
  }
  .benefits .benefits__main-wrapper .benefits__title {
    font-size: 38px;
  }
  .benefits .benefits__main-wrapper .benefits__description {
    font-size: 16px;
  }
  .benefits .benefits__main-wrapper .benefits__list-text {
    font-size: 16px;
  }
  .benefits .benefits__main-wrapper .benefits__list-icon {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 430px) {
  .benefits .benefits__main-wrapper .benefits__content {
    max-width: 320px;
    width: 100%;
  }
  .benefits .benefits__main-wrapper .benefits__image-div {
    display: none;
  }
  .benefits .benefits__main-wrapper .benefits__title {
    font-size: 38px;
  }
  .benefits .benefits__main-wrapper .benefits__description {
    font-size: 16px;
  }
  .benefits .benefits__main-wrapper .benefits__list-text {
    font-size: 16px;
  }
  .benefits .benefits__main-wrapper .benefits__list-icon {
    width: 30px;
    height: 30px;
  }
}

.customers .customers__bg {
  background-color: rgba(102, 163, 219, 0.0509803922);
}
.customers .customers__main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 41px;
  padding-bottom: 81px;
}
.customers .customers__main-wrapper .customers__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 158%;
  margin-bottom: 40px;
}
.customers .customer__cards-wrapper {
  max-width: 1300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.customers .customers__cards {
  max-width: 522px;
  width: 100%;
  padding: 24px;
  border-radius: 28px;
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}
.customers .customers__card-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 158%;
  margin-bottom: 16px;
}
.customers .customers__card-text {
  max-width: 474px;
  width: 100%;
  font-size: 18px;
  line-height: 158%;
  margin-top: 24px;
}
.customers .customers__profile {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 20px;
}
.customers .customers__profile-image {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.6s ease-in-out;
}
.customers .customers__profile-image:hover {
  border: 2px solid #190422;
  transition: all 0.6s ease-in-out;
}
.customers .customer__rating-div {
  max-width: 352px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customers .customer__name {
  font-size: 20px;
  font-weight: 600;
  line-height: 158%;
}
.customers .customer__address {
  font-size: 17px;
  line-height: 158%;
}
.customers .customer__stars {
  width: 100px;
  height: 18px;
}
.customers .customers__desktop-arrows {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.6s ease-in-out;
}
.customers .customers__desktop-arrows:hover {
  background-color: #190422;
  transition: all 0.6s ease-in-out;
}
.customers .mobile__customer-stars {
  display: none;
}
.customers .customer__mobile-arrows {
  display: none;
}
@media only screen and (max-width: 1150px) {
  .customers .customers__main-wrapper .customers__profile-image {
    width: 100px;
    height: 100px;
  }
  .customers .customers__main-wrapper .customer__name {
    font-size: 18px;
  }
  .customers .customers__main-wrapper .customer__address {
    font-size: 16px;
  }
}
@media only screen and (max-width: 968px) {
  .customers .customer__mobile-arrows {
    margin-top: 47px;
    display: flex;
    gap: 107px;
    max-width: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .customers .mobile__customers-links {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.6s ease-in-out;
  }
  .customers .customer__johns-profile {
    display: none;
  }
  .customers .customers__desktop-arrows {
    display: none;
  }
}
@media only screen and (max-width: 430px) {
  .customers .customers__main-wrapper .customer__chamlirka-picture {
    width: 80px;
    height: 80px;
  }
  .customers .customer__cards-wrapper {
    padding: 0px;
  }
  .customers .mobile__customer-stars {
    display: block;
    margin-top: 20px;
  }
  .customers .customer__stars {
    display: none;
  }
  .customers .customer__mobile-arrows {
    margin-top: 47px;
    display: flex;
    gap: 70px;
    max-width: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
  }
  .customers .mobile__customers-links {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.6s ease-in-out;
  }
  .customers .customer__name {
    font-size: 18px;
  }
  .customers .customer__address {
    font-size: 16px;
  }
}
@media only screen and (max-width: 390px) {
  .customers .customers__main-wrapper .customer__chamlirka-picture {
    width: 60px;
    height: 60px;
  }
  .customers .customers__cards {
    gap: 5px;
    max-width: 360px;
  }
  .customers .customer__cards-wrapper {
    padding: 0px;
  }
  .customers .customer__cards-wrapper .customer__name {
    font-size: 14px;
  }
  .customers .customer__cards-wrapper .customer__address {
    font-size: 13px;
  }
  .customers .mobile__customer-stars {
    display: flex;
  }
}

.footer .footer__bg {
  background-color: #190422;
}
.footer .footer__wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 72px;
  padding-bottom: 58px;
}
.footer .footer__logo {
  width: 167px;
  height: 66px;
  margin-bottom: 26px;
}
.footer .footer__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
  margin-bottom: 43px;
  padding-right: 100px;
}
.footer .footer__list-item__links {
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.footer .footer__list-item__links:hover {
  color: #bc8afc;
  transition: all 0.3s ease-in-out;
}
.footer .footer__email-div {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.footer .footer__input-title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}
.footer .footer__input-div {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 470px;
  width: 100%;
}
.footer .footer__input {
  color: #736d6d;
  font-size: 14.723px;
  line-height: 158%;
  padding: 23px 196px 23px 24px;
  outline-color: transparent;
  max-width: 410px;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 15px;
}
.footer .footer__button {
  padding: 18px 34px 19px 40px;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out;
  background-color: #bc8afc;
  margin-left: -100px;
  width: 130px;
  height: 75px;
  border-radius: 15px;
}
.footer .footer__button:hover {
  background-color: #190422;
  color: #bc8afc;
  border: 2px solid #bc8afc;
  transition: all 0.5s ease-in-out;
}
.footer .footer__social-links {
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
}
.footer .footer__app-links__div {
  display: flex;
  align-items: center;
  gap: 43px;
  max-width: 438px;
  width: 100%;
  padding-left: 30px;
}
.footer .footer__play-market {
  width: 190px;
  height: 60px;
}
.footer .footer__apple-store {
  width: 204px;
  height: 60px;
}
@media only screen and (max-width: 1120px) {
  .footer .footer__wrapper {
    max-width: 1120px;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 80px;
  }
  .footer .footer__logo {
    width: 147px;
    height: 56px;
  }
  .footer .footer__list {
    gap: 23px;
    padding-right: 0;
  }
  .footer .footer__list-item__links {
    font-size: 18px;
  }
  .footer .footer__input-title {
    font-size: 20px;
  }
  .footer .footer__input-div {
    max-width: 460px;
    width: 100%;
  }
  .footer .footer__input {
    font-size: 14px;
    padding: 23px 176px 23px 24px;
    max-width: 380px;
    width: 100%;
  }
  .footer .footer__button {
    padding: 18px 34px 19px 40px;
    font-size: 20px;
    margin-left: -80px;
    width: 130px;
    height: 74px;
    border-radius: 15px;
    outline-color: transparent;
  }
  .footer .footer__social-links {
    max-width: 190px;
    gap: 17px;
  }
  .footer .footer__app-links__div {
    gap: 43px;
    max-width: 438px;
    width: 100%;
  }
  .footer .footer__play-market {
    width: 180px;
    height: 60px;
  }
  .footer .footer__apple-store {
    width: 194px;
    height: 60px;
  }
}
@media only screen and (max-width: 1000px) {
  .footer .footer__wrapper {
    max-width: 1000px;
    width: 100%;
    padding-top: 44px;
    padding-bottom: 74px;
  }
  .footer .footer__logo {
    width: 127px;
    height: 46px;
  }
  .footer .footer__list {
    gap: 18px;
    padding-right: 0;
  }
  .footer .footer__list-item__links {
    font-size: 16px;
  }
  .footer .footer__input-title {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .footer .footer__input-div {
    max-width: 400px;
    width: 100%;
  }
  .footer .footer__input {
    font-size: 14px;
    padding: 19px 156px 19px 20px;
    max-width: 340px;
    width: 100%;
  }
  .footer .footer__button {
    padding: 18px 34px 19px 40px;
    font-size: 20px;
    margin-left: -80px;
    width: 130px;
    height: 66px;
    border-radius: 15px;
    outline-color: transparent;
  }
  .footer .footer__social-links {
    max-width: 170px;
    gap: 15px;
  }
  .footer .footer__app-links__div {
    gap: 53px;
    max-width: 408px;
    width: 100%;
    padding-left: 0;
  }
  .footer .footer__play-market {
    width: 160px;
    height: 60px;
  }
  .footer .footer__apple-store {
    width: 104px;
    height: 60px;
  }
}
@media only screen and (max-width: 835px) {
  .footer .footer__wrapper {
    width: 100%;
    padding-top: 44px;
    padding-bottom: 74px;
    padding-left: 50px;
  }
  .footer .footer__logo {
    width: 127px;
    height: 46px;
    margin-bottom: 20px;
  }
  .footer .footer__list {
    gap: 3px;
    padding-right: 0;
  }
  .footer .footer__list-item__links {
    font-size: 15px;
  }
  .footer .footer__input-title {
    font-size: 17px;
    margin-bottom: 5px;
  }
  .footer .footer__input-div {
    max-width: 340px;
    width: 100%;
  }
  .footer .footer__input {
    font-size: 13px;
    padding: 19px 116px 19px 20px;
    max-width: 340px;
    width: 100%;
  }
  .footer .footer__button {
    padding: 13px 30px 13px 30px;
    font-size: 20px;
    margin-left: -50px;
    width: 130px;
    height: 65px;
    border-radius: 15px;
    outline-color: transparent;
  }
  .footer .footer__social-links {
    max-width: 170px;
    gap: 15px;
  }
  .footer .footer__app-links__div {
    gap: 53px;
    max-width: 408px;
    width: 100%;
  }
  .footer .footer__play-market {
    width: 111px;
    height: 54px;
  }
  .footer .footer__apple-store {
    width: 173px;
    height: 52px;
  }
}
@media only screen and (max-width: 430px) {
  .footer .footer__wrapper {
    max-width: 430px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 64px;
    padding-left: 35px;
  }
  .footer .footer__logo {
    width: 127px;
    height: 46px;
    margin-bottom: 20px;
  }
  .footer .footer__list {
    flex-direction: column;
    align-items: start;
    gap: 3px;
    padding-right: 0;
  }
  .footer .footer__list-item__links {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .footer .footer__input-title {
    font-size: 17px;
    margin-bottom: 5px;
  }
  .footer .footer__input-div {
    max-width: 300px;
    width: 100%;
    margin-bottom: 20px;
  }
  .footer .footer__input {
    font-size: 13px;
    padding: 19px 116px 19px 20px;
    max-width: 340px;
    width: 100%;
  }
  .footer .footer__button {
    padding: 13px 30px 13px 30px;
    font-size: 20px;
    margin-left: -50px;
    width: 130px;
    height: 64px;
    border-radius: 15px;
    outline-color: transparent;
  }
  .footer .footer__social-links {
    max-width: 170px;
    gap: 15px;
    margin-bottom: 20px;
  }
  .footer .footer__app-links__div {
    gap: 183px;
    max-width: 308px;
    width: 100%;
  }
  .footer .footer__play-market {
    width: 11px;
    height: 54px;
  }
  .footer .footer__apple-store {
    width: 173px;
    height: 52px;
  }
}
@media only screen and (max-width: 390px) {
  .footer .footer__wrapper {
    padding-left: 15px;
  }
  .footer .footer__app-links__div {
    gap: 163px;
    max-width: 308px;
    width: 100%;
  }
  .footer .footer__app-links__div .footer__play-market {
    height: 54px;
  }
  .footer .footer__apple-store {
    height: 52px;
  }
}/*# sourceMappingURL=styles.css.map */