* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 700px $brand-body-color;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: $brand-btn-color;
  outline: 1px solid transparent;
}
