.customers {
  .customers__bg {
    background-color: $brand-section-color;
  }

  .customers__main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 41px;
    padding-bottom: 81px;

    .customers__title {
      font-size: 25px;
      font-weight: 600;
      line-height: 158%;
      margin-bottom: 40px;
    }
  }
  .customer__cards-wrapper {
    max-width: 1300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .customers__cards {
    max-width: 522px;
    width: 100%;
    padding: 24px;
    border-radius: 28px;
    background: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  }
  .customers__card-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 158%;
    margin-bottom: 16px;
  }

  .customers__card-text {
    max-width: 474px;
    width: 100%;
    font-size: 18px;
    line-height: 158%;
    margin-top: 24px;
  }

  .customers__profile {
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 20px;
  }

  .customers__profile-image {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.6s ease-in-out;

    &:hover {
      border: 2px solid $brand-body-color;
      transition: all 0.6s ease-in-out;
    }
  }

  .customer__rating-div {
    max-width: 352px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .customer__name {
    font-size: 20px;
    font-weight: 600;
    line-height: 158%;
  }

  .customer__address {
    font-size: 17px;
    line-height: 158%;
  }

  .customer__stars {
    width: 100px;
    height: 18px;
  }

  .customers__desktop-arrows {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.6s ease-in-out;

    &:hover {
      background-color: $brand-body-color;
      transition: all 0.6s ease-in-out;
    }
  }

  .mobile__customer-stars {
    display: none;
  }

  .customer__mobile-arrows {
    display: none;
  }

  @media only screen and (max-width: 1150px) {
    .customers__main-wrapper {
      .customers__profile-image {
        width: 100px;
        height: 100px;
      }
      .customer__name {
        font-size: 18px;
      }
      .customer__address {
        font-size: 16px;
      }
    }
  }

  @media only screen and (max-width: 968px) {
    .customer__mobile-arrows {
      margin-top: 47px;
      display: flex;
      gap: 107px;
      max-width: 300px;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .mobile__customers-links {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      border: 2px solid transparent;
      transition: all 0.6s ease-in-out;
    }

    .customer__johns-profile {
      display: none;
    }
    .customers__desktop-arrows {
      display: none;
    }
  }

  @media only screen and (max-width: 430px) {
    .customers__main-wrapper {
      .customer__chamlirka-picture {
        width: 80px;
        height: 80px;
      }
    }
    .customer__cards-wrapper {
      padding: 0px;
    }
    .mobile__customer-stars {
      display: block;
      margin-top: 20px;
    }

    .customer__stars {
      display: none;
    }

    .customer__mobile-arrows {
      margin-top: 47px;
      display: flex;
      gap: 70px;
      max-width: 300px;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-right: 30px;
    }

    .mobile__customers-links {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      cursor: pointer;
      border: 2px solid transparent;
      transition: all 0.6s ease-in-out;
    }
    .customer__name {
      font-size: 18px;
    }
    .customer__address {
      font-size: 16px;
    }
  }

  @media only screen and (max-width: 390px) {
    .customers__main-wrapper {
      .customer__chamlirka-picture {
        width: 60px;
        height: 60px;
      }
    }

    .customers__cards {
      gap: 5px;
      max-width: 360px;
    }
    .customer__cards-wrapper {
      padding: 0px;
      .customer__name {
        font-size: 14px;
      }
      .customer__address {
        font-size: 13px;
      }
    }
    .mobile__customer-stars {
      display: flex;
    }
  }
}
